body {
    background-color: #c0c0c0
}

div.nav-bar {
    display: flex;
    background-color: #333;
}

div.nav-bar-right {
    flex-grow: 1;
}

ul.nav-bar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li.nav-bar-item {
    float: left;
}

li.nav-bar-item a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li.nav-bar-item a:hover {
    background-color: #111;
}

div.alert {
}

div.alert-success {
    background-color: lightgreen;
}

div.alert-error {
    background-color: #dc143c;
}
