<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">
    <title>Image Filters</title>

    {% load static %}
    <link rel="stylesheet" href="{% static 'image_filters/styles.css' %}">

    {% block extra_style_sheets %}{% endblock %}

</head>


<body>
    <!-- Top horizontal navigation bar -->
    <div class="nav-bar">
        <div class="nav-bar-left">
            <ul class="nav-bar">
                <li class="nav-bar-item nav-bar-item-active">
                    <a href="#">Home</a>
                </li>
                {% if user.is_authenticated %}  <!--user is a variable that django provides-->
                <li class="nav-bar-item"><a><small>Hello </small>{{ user.username }}</a></li>
                {% endif %}
            </ul>
        </div>
        <div class="nav-bar-right">
            <ul class="nav-bar" style="float:right">
                {% if user.is_authenticated %}
                    <li class="nav-bar-item">
                        <a href="{% url 'users-logout' %}">Logout</a>
                    </li>
                {% else %}
                    <li class="nav-bar-item">
                        <a href="{% url 'users-login' %}">Login</a>
                    </li>
                    <li class="nav-bar-item">
                        <a href="{% url 'users-register' %}">Sign up</a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>

    <!-- The following code block displays flash messages if any. Flash messages are those which are displayed only once
     and they disappear in the next request -->
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-{{ message.tags }}">
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}

    <!-- The following block content will be replaced by templates that inherit this template -->
    {% block content %}{% endblock %}
</body>


</html>
