{% extends "image_filters/base.html" %}

{% block extra_style_sheets %}
    <style>li.nav-bar-title-page { background-color: green; }</style>
{% endblock extra_style_sheets %}

{% block content %}
    <h1>Image Filters</h1>
    <div>
        <p>With this website, we can,</p>
        <ol>
            <li>Create an account.</li>
            <li>Then, upload our images.</li>
            <li>Scroll through a list of all of our uploaded images.</li>
            <li>Select one of our images, apply a filter to it, save the output image along with the filter that was applied.</li>
            <li>Scroll through a list of all our filtered images.</li>
        </ol>
    </div>
{% endblock content %}
