{% extends "image_filters/base.html" %}

{% block extra_style_sheets %}
    <style>li.nav-bar-uploaded-images-page { background-color: green; }</style>
{% endblock extra_style_sheets %}

{% block content %}
    {% if uploaded_images.count == 0 %}
        <h2>No images have been uploaded yet.</h2>
        <p><a href="{% url 'image-filters-upload' %}">Upload</a></p>
    {% else %}
        {% for image_obj in uploaded_images %}
            <div>
                <h2>{{ image_obj.image }}</h2>
                <a href="{% url 'image-filters-apply-filter' image_obj.id %}"><img src="{{ image_obj.image.url }}"/></a>
            </div>
        {% endfor %}
    {% endif %}
{% endblock content %}
