{% extends "image_filters/base.html" %}

{% block extra_style_sheets %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'users/styles.css' %}">
{% endblock extra_style_sheets %}

{% block content %}
    <div>

        <!-- User Login Form: --->
        <form method="POST">
            {% csrf_token %}  <!-- csrf token stands for cross site request forgery token.
             It protects from certain attacks. If we don't have it, the form doesn't work. -->

            <fieldset>
                <legend>Log In</legend>
                {{ form.as_p }}  <!-- Django's LoginView which is a class based view
                gives the variable "form" which is accessed here in the template -->
            </fieldset>
            <div>
                <button type="submit">Login</button>
            </div>
        </form>

        <!-- A link to Sign up if the user doesn't have an account -->
        <div>
            <small>Need an account? <a href="{% url 'users-register' %}">Sign up</a></small>
        </div>
    </div>
{% endblock content %}
